.restaurant-header {
	font-weight: bold;
	font-size: 24px;
}

.rank-number {
	color: #00de00;
}

.yelp-trademark {
	height: 47px;
	/*background-color: #D32323;*/
}

.fb-trademark {
	height:23px;
	margin-bottom: 3px;
}

.green-up {
	color: #00de00;
}

.red-down {
	color: red;
}