.wrapper{
	margin-bottom: 50px;
	background-color: #17181B;
}

.restaurant-component {
	background: #3a3a3a;
}

.restaurant-info {
	padding: 20px;
	margin: 16px;
	background-color: #262626;
	color: white;
}

.margin-top {
	margin-top: 10px;
}

.stats-section {
	border: solid white 1px;
	border-radius: 10px;
}

.fa-search {
	position: fixed;
	z-index: 2;
	top: 20;
	right: 15px;
	margin-right: 10px;
	font-size: 50px;
}
.searchIcon {
	position: fixed;
	top: 350px;
	right: 10px;
	margin-right: 10px;
	z-index: 2;
	font-size: 50px;
	width: 60%;
	height: 10px;
}

form {
	position: relative;
	float: left;
}

.ReactModal__Content ReactModal__Content--after-open {
	position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.modalClosed {
	position: fixed;
    right: 40px;
    top: 8px;
}
.searchBar {
	position: relative;
    top: -160px;
    right: -90px;
}

/*.fullWidth{
	width:100%;
}*/