
section {
  min-height: 100vh;
}
.restaurant-info, .fb-search-header {
  color: white;
}

.searcheditems {
  background-color: #15409a;
  color: white;
}

.searcheditems button {
  background-color: 
}

.searcheditems button:hover {
  background-color: #bbd0fb;
  
}

.find-restaurant-search-section:hover {
  background-color: #292929;
}

.restaurant-search li {
  list-style-type: none;
  border: 1px white solid;
  border-radius: 10px;
  overflow:hidden;
  background-color: #1d1d1d;
}

.restaurant-search ul {
  margin-bottom: 10px;
}

.restaurant-search {
  text-align: center;
}

.content-list {
  margin: auto;
}


.wrapper{
	margin-bottom: 50px;
	background-color: #17181B;
}

.restaurant-component {
	background: #3a3a3a;
}

.restaurant-info {
	padding: 20px;
	margin: 16px;
	background-color: #262626;
}

.margin-top {
	margin-top: 10px;
}

.stats-section {
	border: solid white 1px;
	border-radius: 10px;
}

.fa-search {
	position: fixed;
	z-index: 2;
	top: 60px;
	right: 30px;
	font-size: 50px;
}
/*.searchIcon {
	position: fixed;
	top: 350px;
	right: 10px;
	margin-right: 10px;
	z-index: 2;
	font-size: 50px;
	width: 60%;
	height: 10px;
}*/
.searchField {
  position: fixed;
  background-color: red;
  text-align: center;
  padding: 30px;
  width:99%;
  top: 0px;
  left: 0px;
  right:0px;

}
.searchField input {
  text-align: center;
  border: 2px black solid;
  margin:20px;
  height: 50px;
  width: 100%;
}
.searchField button{
  border: 1px solid black;
    height: auto;
    margin-top: 15%;
    padding: auto;
}
.HeaderTitle {
  margin-top: 200px;
}
.HeaderTitle h1{
 font-family: 'Bungee Shade', cursive;
      text-align: center;
    font-size: 200px;
    margin-top: 20px;
    color: aqua;

}
.HeaderSearch {
  margin-top: 40px;
}
.HeaderSearch input{
  text-align: center;
  height: 70px;
  width: 100%;
  margin: auto;
  margin-left: 40px;
}
.HeaderSearch button{
  height: 70px;
  margin-left: 40px;
  border: 1px solid white;
}


.ReactModal__Content ReactModal__Content--after-open {
	position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.modalClosed {
	position: fixed;
    right: 40px;
    top: 8px;
  }
