.all-restaurant-averages {
	margin-top: 20px;
}

.stats {
	padding: 0px;
}

.fa-sort-asc, .fa-sort-desc {
	margin-left: 2px
}

.fa-sort-asc {
	color: green;
}

.fa-sort-desc {
	color: red;
}

.stat-header, .stats-title {
	text-decoration: underline;
}

.stats-title {
	font-weight: bold;
	font-size: 20px;
}

.fa-facebook-square {
	color: #3B5998;
}

.fa-facebook-official {
	color: #3B5998;
	background-color: white;
	padding: 0px;
	line-height: 13px;
	border: 0px solid black;
	margin: 0px;
}

.fa-yelp {
	color: #F15C4F;
}
.facebook{
	background-color: white;
	height: 20px;
	width: 20px;
}

@media(max-width: 320) {
	.is-3 {
		width: 20%;
	};
	p{
		font-style: 8px;
	};
	.chart{
		min-height: 500px;
	}

}