.chart-filter {
	padding-top: 90px;
}

.chart-filter button {
	margin: 2px;
	display: block;
}
<<<<<<< HEAD:react-ui/src/components/chartFilter/chartFilter.css
.prices button {
	display: inline-block;
}
=======
>>>>>>> 50f743777b9680a32fcaccde41a32c567d54ef9f:react-ui/src/components/ChartFilter/ChartFilter.css
