.chart-filter {
	width: 100%;
	height: 100%;
	padding: 12px;
	background-color: #191919;
	border-radius: 10px;
}

.chart-filter button {
	display: block;
	margin-bottom: 5px;
	width:100%;
}
.prices {
	/*width: 100%;*/
}

.prices button {
	width: 25%;
	display: inline-block;
}

.filter-header {
	font-weight: bold;
	font-size: 24px;
	margin: 10px;
}

button:focus {
    outline-style: none;
}

.chart-filter button:hover {
	background-color:#d0d0d0;
}